body {
    margin:0;

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans', sans-serif;

}

h1 {
    margin: 0;
    padding: 0;

    font-size: 120px;
    text-transform: uppercase;
    position: relative;

    color: rgb(162, 155, 255);

}

h1:before {
    content: "#30DIASDECSS";
    position: absolute;
    width: 0%;
    color: blue;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 1s;
}

h1:hover:before {
    width: 100%;
}